<h1>Welcome to the Car Simulator</h1>
<hr />

<hr />
<form>
  <form action="/cars/create" method="get">
  <label for=make_id >Make:</label>
  <input type="text" id=make_id name="make" required/> <br />
  <label for=model_id >Model:</label>
  <input type="text" id=model_id name="model" required/> <br />
  <label for=year_id >Year:</label>
  <input type="number" id=year_id name="year" required/> <br />
  <input type="color" name:"carcolor" required/>
  <input type="submit" value="Similate Car"/>
</form>
